{% extends "Layout/base.html"%}
<!-- C:\Users\Misael\Desktop\astagaTP\Tugas-PPW-02\app_homepage\templates\Layout\base.html -->
{% block content %}

<div class = "container-fluid">
  <h1>Forum Company </h1>
  <div class= "row">
    <div class= "class-lg-6">
      <img> src="https://www.freelogodesign.org/img/logo-ex-4.png"</img>
      <p id = "dataIN"></p>
    </div>
    <div class= "col-lg-6">
    </div>
  </div>
  <div class= "row">
    <div class= "class-lg-6">
      <section name="form">
        <form id="form" method="POST" action="{% url 'app_forum:add_message'%}">
          {% csrf_token %}
          {{message_form}}
          <br>
          <button>submit</button>
        </form>
      </section>
    </div>
    <div class= "col-lg-6">
      {% if message_list %}
        {% for i in message_list %}
        <a class="list-grup-item clearfix">
          {{i.title}} - {{i.message}} - {{i.created_date}}
        </a>
        {% endfor %}
      {% endif %}
    </div>

    {% if message_list.has_other_pages %}
    <ul class="pagination">
        {% if message_list.has_previous %}
            <li><a href="?page={{ message_list.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in message_list.paginator.page_range %}
            {% if message_list.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if message_list.has_next %}
              <li><a href="?page={{ message_list.next_page_number }}">&raquo;</a></li>
        {% else %}
              <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
  </div>

  <button>Tambah Forum Lowongan</button>
</div>
{% endblock %}
