/*For Menu Style*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border-radius:0;
    padding-top:20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #6495ED;
    background-color:transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size:14px;
    font-weight:600;
	text-transform:uppercase;
}
.navbar-default .navbar-nav li a :hover{
    color: #6495ED;
}
.navbar-default .collapse .login a{
    color: #6495ED;
    border: 1px solid #6495ED;
    border-radius: 20px;
    padding: 4px 30px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 30px;
    display:inline-block;
    overflow:hidden;
}
.navbar-default .collapse .login:hover a{
    background-color: #6495ED;
    color:#fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #6495ED;
    background-color: transparent;
}
.navbar-brand{
	margin-top:-5px;	
}

/*For Footer Section*/
.footer{

    color:#000;
}
.footer-wrapper{
    padding:20px 0px;
    display:block;
}
.footer-brand{
    float:left;
}
.author{
    text-align:right;
}
.author p{
    font-size: 1.125rem;
    margin-bottom: 1px;
    padding: 20px 0px;
}
.author p i{
    color:#ff0000;
}.author p a{
    color:#32E10A;
}