<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="\static\css\app_comment.css"/>
</head>
<body>
  {% include "header.html" %}
  <!-- <h1> tes hehe</h1> -->
  <div class = "container-judul">
    <!-- <h1 id="title" class="main-title">Update Status</h1> -->
  </div>
  <div class = "big-container">
  <section name="input-list" id="input-list">
    <div class="container">
        <form id="form_isi" method="POST" action="{% url 'app_comment:status_post' %}">
            {% csrf_token %}
            {{ message_form }}
            <button class="btn">Post</button>
            <div class="modal">
              <div class="modal__box">
                <p> Apakah anda yakin ingin melakukan post ? </p>
                <p style="font-size: 10px"> Click post untuk melanjutkan </p>
                <p style="font-size: 10px"> Click sekitar untuk membatalkan </p>


                <input id="submit" type="submit" class="btn btn-sm btn-info" value="Submit">
              </div>
            </div>
            <br>
            </form>
            </div>
            </section>
            <section name="timeline" class="timeline" id="timeline">
            <div class="container">
            <div class="flex">
                {% for data in message %}
                      <!-- DIBAWAH INI HARUSNYA KOLOM COMMENT HEHE  -->
                  <div class="flex-list-item-comment-section">
                    <div class="comment-section">
                        <div class="comment-section-comment">
                            {% if data.comment_set.all %}
                                {% for comment in data.comment_set.all %}
                                    <!-- <h4>{{profile.name}}</h4> -->
                                    <!-- <p>{{comment.comment}}</p> -->
                                    <div class ="flex-item" style=margin:auto">
                                      <h5>{{comment.comment}}</h5>
                                      <div class="to-do-list-date-added">{{comment.created_date}}></div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="comment-section-form">
                        <form id="form" method="POST" action="{% url 'app_comment:add_comment' pk=data.id%}" class="form-comment" style="color: black">
                            {% csrf_token %}
                            {{ comment_form }}
                            <input id="submit" type="submit" class="btn btn-sm btn-info" value="Submit" style="bottom: -10px">
                            <br>
                        </form>
                        </div>

                    </div>
                </div>
                <div class="flex-item">
                    <div class="to-do-list">
                      <div class="col-xs-2" style="padding-top:20px">
                        <img style="display: inline; border-radius: 50%; width: 110px; height: 110px; margin: auto; max-width: 500px;" class="photo" src="http://thumb.ibb.co/gb1pFb/unknown_profile.jpg" alt="unknown_profile" border="0"/>
                      </div>
                      <div class="col-xs-10" style="padding-top:20px">
                        <p class="to-do-list-name">Misael Jonathan</p>
                        <div class="to-do-list-description">
                            {{data.message}}
                        </div>
                        <div class="to-do-list-date-added">
                            {{data.created_date}}
                        </div>
                    </div>
                  </div>
                </div>
                  {% endfor %}
    </section>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript">
    $(function() {
             $('a[href*="#"]:not([href="#"])').click(function() {
               if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                 var target = $(this.hash);
                 target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                 if (target.length) {
                   $('html, body').animate({
                     scrollTop: target.offset().top - 55
                   }, 1000);
                   return false;
                 }
               }
             });
           });
</body>
</html>
